<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<!-- 配置自动扫描的包 -->
	<context:component-scan base-package="com.artpri.offical.dao.impl" />
	<context:component-scan base-package="com.artpri.offical.service.impl" />
	<context:component-scan base-package="com.artpri.offical.action" />

	<!-- 引入外部资源文件 -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath*:paging.properties</value>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
        <property name="properties" ref="configProperties" />
    </bean>    
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- 配置SessionFactory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">

		<!-- 添加数据源配置 -->
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>

		<!-- 添加hibernate配置文件 -->
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />

		<!-- 定义hibernate sessionfactory 的属性 -->
		<property name="hibernateProperties">
			<props>
				<!-- 指定hibernate的连接方言 -->
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLInnoDBDialect
				</prop>
			</props>
		</property>
	</bean>
	
	<!-- 配置声明式事务 -->
	<!-- 1.配置事务管理器 -->
	<bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<!-- 装配SessionFactory -->
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 2.配置事务切入点 -->
	<aop:config>
		<aop:advisor advice-ref="txAdvice" pointcut="execution(* com.artpri.offical.service.*.*(..))"/>
	</aop:config>
	
	<!-- 3.配置事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="hibernateTransactionManager">
		<!-- 配置事务属性 -->
		<!-- 注意：所有事务方法都必须配置事务属性后才能够被声明式事务管理 -->
		<tx:attributes>
			<tx:method name="save*"/>
			<tx:method name="remove*"/>
			<tx:method name="update*"/>
			<tx:method name="get*" read-only="true"/>
			<tx:method name="batch*"/>
			<tx:method name="AuctionInfoByuserNum"/>
			
		</tx:attributes>
	</tx:advice>
	
</beans>
