.Mayi_index_anli {
    width: 100%;
    height: 303px;
    background-repeat: repeat-x;
    padding-top: 10px;
    text-align: center;
    float: left;
}

.Anli_01 {
    width: 660px;
    height: 303px;
}

.Anli_01_02 {
    width: 660px;
    height: 303px;
    float: left;
}

.Anli_01_02_01 {
    height: 36px;
    background-position: 0px 1px;
    background-repeat: no-repeat;
    text-align: left;
    float: left;
}

.Anli_01_02_01_01 {
    height: 36px;
    line-height: 36px;
    width: 600px;
    text-align: left;
    padding-left: 10px;
    font-size: 14px;
    color: #c40000;
    float: left;
}

.Anli_01_02_01_02 {
    height: 36px;
    line-height: 36px;
    width: 321px;
    text-align: left;
    font-size: 14px;
    color: #c40000;
    float: left;
    padding-right: 10px;
}

.Anli_01_02_01_02 a {
    line-height: 36px;
    text-align: left;
    font-size: 12px;
    color: #c40000;
    float: right;
    text-align: right;
}

.Anli_left {
    height: 210px;
    width: 20px;
    margin-top: 0px;
    padding-left: 10px;
    float: left;
    background-image: url(../images/le.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.Anli_pic {
    height: 180px;
    width: 580px;
    margin-top: 20px;
    float: left;
    padding-left: 5px;
}

.Anli_right {
    height: 210px;
    width: 20px;
    margin-left: 5px;
    margin-top: 0px;
    float: left;
    background-image: url(../images/ri.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

a.green:visited, a.green:link {
    color: #c40000;
}

a.green:hover {
    color: #c40000;
}

a.green:active {
    color: #c40000;
}

.box {
    width: 183px;
    height: 170px;
    float: left;
    margin: 0px 5px;
    padding-top: 5px;
    font-size: 12px;
}

.box a.imgBorder:link, .box a.imgBorder:visited {
    border: #CCCCCC solid 1px;
    width: 177px;
    height: 137px;
    padding: 2px;
    display: block;
}

.box a.imgBorder:hover {
    border: #c40000 solid 1px;
    padding: 2px;
    width: 177px;
    height: 137px;
    display: block;
}

.anli_box_title {
    text-decoration: none;
    width: 128px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    padding-left: 15px;
    color: #000;
}

.anli_box_title:hover {
    color: #c40000;
    text-decoration: underline;
}